dic/dic/__pycache__/__init__.cpython-38.pyc
dic/dic/__pycache__/settings.cpython-38.pyc
dic/dic/__pycache__/urls.cpython-38.pyc
dic/dic/__pycache__/wsgi.cpython-38.pyc
dic/mydic/__pycache__/__init__.cpython-38.pyc
dic/mydic/__pycache__/urls.cpython-38.pyc
dic/mydic/__pycache__/views.cpython-38.pyc
