<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}My Site Title{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'mydic/css/base.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            direction: ltr;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center">
        <div class="container-sm">
        <a class="navbar-brand text-body text-dark" href="{% url 'mydic:index' %}"><h4>Bracket Dictionary</h4></a>
        <ul class="navbar-nav mr-auto">
            <li class="active nav-item"><a class="nav-link" href="{% url 'mydic:form' %}">Add word</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <form class="form-inline input-group-sm" id="search" action="{% url 'mydic:search' %}" method="POST" style="margin-left: 25px;">
                {% csrf_token %}
                <input class="form-control" type="text" id="searchbar" name="searchtxt" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" placeholder="Search...">
                <div class="input-group-append"><button class="btn btn-success" type="submit" id="searchsub" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fas fa-search" aria-hidden="true"></i></button></div>
            </form>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="">Hello {{ user }} !</a></li>
            <li class="nav-item"><form class="form-inline" action="{% url 'mydic:logoutuser' %}" method="POST">{% csrf_token %}<button class="btn navbar-btn nav-link" type="submit">Logout</button></form></li>
            {% else %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'mydic:signup' %}">Signup / Login</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    {% endblock %}
    <section class="content container-sm bg-light text-dark d-flex justify-content-sm-center flex-column pt-3" style="min-height: 85%;">
    {% block content %}
    {% endblock %}
    </section>
    {% block footer %}
    <footer class="myfooter container-fluid bg-primary text-center pb-3 pt-3 text-white mt-4">
        <h6 class="mb-0">All rights reserved. &#169;Bracket 2020</h6>
    </footer>
    {% endblock %}
</body>
</html>