{% extends 'mydic/base.html' %}
{% block title %}Detail: {{ w.word_text }}{% endblock %}
{% block style %}
<!--<style>
    #wordname {
        text-align: center;
        padding-left: 30px;
    }
    #wordpro {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
    }
    #wordpro li {
        width: 100%;
        height: 30px;
        border-top: solid 1px rgb(112, 112, 112);
        text-align: center;
        padding: 11px 0;
        text-transform:capitalize;
    }
    #wordpro li:hover{
        border-top: solid 2px rgb(37, 37, 37);
    }
</style>-->
{% endblock %}
{% block content %}
<ul class="p-2 text-center list-group" id="wordpro">
    <li class="shadow list-group-item active"><h1 style = "text-transform:capitalize;">{{ w.word_text }}</h1></li>
    <li class="shadow list-group-item">{{ w.word_type }}</li>
    <li class="shadow list-group-item">{{ w.word_trans }}</li>
    <li class="shadow list-group-item">{{ w.word_date.year }}/{{ w.word_date.day }}/{{ w.word_date.month }}</li>
    <li class="shadow list-group-item" style="text-transform: none;">&#174;{{ w.user }}</li>
</ul>
{% endblock %}