{% extends "mydic/base.html" %}

{% block title %}Index{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mydic/css/index.css' %}">
{% endblock %}

{% block content %}
<h1>Words are HERE!</h1>
<form id="search" action="{% url 'mydic:search' %}" method="POST">
    {% csrf_token %}
    <input type="submit" id="searchsub" value="s">
    <input type="text" id="searchbar" name="searchtxt" value="">
</form>
<div id="form-div">
    <a id='form' href="{% url 'mydic:form' %}">Add word!</a>
</div>
<ul class="allwords">
    {% for w in word %}
    <li><span class="wordn">{{ forloop.counter }}</span><a href="{% url 'mydic:detail' w.id %}" style = "text-transform:capitalize;">{{ w.word_text }} <sub style="text-transform: none; font-size: 10px;">{{ w.word_type }}</sub></span></a></li>
    {% endfor %}
</ul>
{% endblock %}