{% extends "mydic/base.html" %}

{% block title %}Index{% endblock %}

{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<h1 class="p-2 text-center mb-3">Words are HERE!</h1>
<a class="p-2 text-center btn btn-success shadow pr-5" id='form' href="{% url 'mydic:form' %}"><h4>Add word!</h4></a>
<ul class="allwords p-2 text-center list-group">
    {% for w in word %}
    <li class="shadow list-group-item" style="padding: 0; border:none;">
        <a href="{% url 'mydic:detail' w.id %}" {% if forloop.counter == 1 %}
                                                class="btn btn-outline-info d-flex justify-content-between rounded-top" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; padding: 12px 20px; border-bottom: 0;"
                                                {% elif forloop.last %}
                                                class="btn btn-outline-info d-flex justify-content-between rounded-bottom" style="border-top-left-radius: 0; border-top-right-radius: 0; padding: 12px 20px;"
                                                {% else %}
                                                class="btn btn-outline-info d-flex justify-content-between rounded-0" style="padding: 12px 20px; border-bottom: 0;"
                                                {% endif %}
        >
            <span class="wordn p-2" style="width: 35px !important;">{{ forloop.counter }}</span>
            <h5 class="p-2" style="text-transform:capitalize;">{{ w.word_text }} </h5>
            <span class="p-2" style="width: 85px !important;">{{ w.word_type }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}