{% extends 'mydic/base.html' %}
{% block title %}Signup{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="d-flex flex-sm-row flex-wrap justify-content-sm-center">
<div class="logsign p-5 m-1 text-center border" id="sign">
<h1>Signup</h1>
<form id="singupform" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label><br>
    <input type="text" id="susername" name="susername" value=""><br><br>
    <label for="email">Email: </label><br>
    <input type="text" id="sEmail" name="semail" value=""><br><br>
    <label for="Password">Password: </label><br>
    <input type="password" id="spassword1" name="spassword1" value=""><br><br>
    <label for="PasswordConfirm">Password Confirmation: </label><br>
    <input type="password" id="spassword2" name="spassword2" value=""><br><br>
    <input id="ssub" type="submit" value="Submit">
</form>
</div>
<div class="logsign p-5 m-1  text-center border" id="log">
<h1>Login</h1>
<form id="loginform" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label><br>
    <input type="text" id="lusername" name="lusername" value=""><br><br>
    <label for="Password">Password: </label><br>
    <input type="password" id="lpassword1" name="lpassword1" value=""><br><br>
    <input id="lsub" type="submit" value="Submit">
</form>
</div>
{% if wordex %}
<p style="color: red;">{{wordex}}</p>
{% endif %}
{% endblock %}