{% extends 'mydic/base.html' %}
{% block title %}Signup{% endblock %}
{% block style %}
<style>
    .content {
        padding: 0;
        min-height: 100%;
        margin: 0 auto;
        width: 500px;
    }
    h1 {
        display: table;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .logsign {
        display: inline;
        margin: 0 20px;
    }
    #log {
        float: right;
    }
    #sign {
        float: left;
    }
    form {
        margin: 0 auto;
        display: table;
    }
    #ssub, #lsub {
        margin-top: 10px;
        width: 100%;
        height: 30px;
        font-size: larger;
    }
</style>
{% endblock %}
{% block content %}
<div class="logsign" id="sign">
<h1>Signup</h1>
<form id="singupform" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label><br>
    <input type="text" id="susername" name="susername" value=""><br><br>
    <label for="email">Email: </label><br>
    <input type="text" id="sEmail" name="semail" value=""><br><br>
    <label for="Password">Password: </label><br>
    <input type="password" id="spassword1" name="spassword1" value=""><br><br>
    <label for="PasswordConfirm">Password Confirmation: </label><br>
    <input type="password" id="spassword2" name="spassword2" value=""><br><br>
    <input id="ssub" type="submit" value="Submit">
</form>
</div>
<div class="logsign" id="log">
<h1>Login</h1>
<form id="loginform" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label><br>
    <input type="text" id="lusername" name="lusername" value=""><br><br>
    <label for="Password">Password: </label><br>
    <input type="password" id="lpassword1" name="lpassword1" value=""><br><br>
    <input id="lsub" type="submit" value="Submit">
</form>
</div>
{% if wordex %}
<p style="color: red;">{{wordex}}</p>
{% endif %}
{% endblock %}